<nav class="navbar navbar-default" >
    <div class="container-fluid " >
      <div class="navbar-header" >
          <a href="#" class="pull-left"><img src="assets/logo2.png"></a> 
      </div>
    </div>
</nav>

<!-- <div class="container-fluid">
  <div class="row">
      <div class="container col-md-8">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  </div> -->

  <div class="card">
    <div class="card-header">
        <u><h3 class="card-title">Booking Details</h3></u>
    </div>
    <div class="card-body justify-content-center"  >
        <div class="panel-body" *ngIf="bookingDetails && !errorMsg">
          <div class="container col-md-8">
            <p><span style="color: black; font-weight: bolder">Customer Name:&nbsp;</span><span style="color: black">{{name}}</span></p>
            <p><span style="color: black; font-weight: bolder">Mobile Number:&nbsp;</span><span style="color: black">{{phoneNo}}</span></p>
            <p><span style="color: black; font-weight: bolder">Function Date:&nbsp;</span><span style="color: black">{{funDate}}</span></p>
              <div class="table-responsive">
                  <table class="table table-hover table-bordered" style="text-align: center">
                      <thead>
                        <tr>  
                          <th scope="col" style="width: 10%">Item No.</th>
                          <th scope="col" style="width: 10%">Product</th>
                          <th scope="col" style="width: 10%">Unit</th>
                          <th scope="col" style="width: 10%">Rate</th>
                          <th scope="col" style="width: 10%">Total </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of bookingDetails;index as i">
                            <td >{{i+1}}</td>
                            <td>{{item.product}}</td>
                            <td>{{item.unit}}</td>
                            <td>{{item.rate}}</td>  
                            <td><i class="fa fa-inr"></i>{{item.totalPrice}}</td>
                          </tr>
                      </tbody>
                    </table><p style="text-align:left;"><span style="color: black; font-weight: bolder">Total Amount:&nbsp;</span></p>
                    <p style="text-align:left;"><span style="color: black; font-weight: bolder">Advance Paid:&nbsp;</span></p>
                    <p style="text-align:left;"><span style="color: black; font-weight: bolder">Amount Payable:&nbsp;</span></p>
                </div>
      
          </div>
                  </div>
      <a href="#" class="btn btn-primary">Get Invoice</a>
    </div>
  </div>








